.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
}

/* Background video */
.home-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Overlay for readability */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* Content */
.home-content {
  text-align: start;
  max-width: 700px;
  padding: 1rem;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Content */
.about-content {
  max-width: 600px;
}
.about-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-text {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.accent {
  color: #e50914; /* Netflix red */
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Button */
.btn-primary {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: #e50914;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
   animation: fadeInUp 1s ease forwards;
}
.btn-primary:hover {
  background: #b20710;
}
