.contact-container {
  padding: 4rem 2rem;
  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  margin: 0.9rem 0;
  animation: fadeInDown 1s ease-in-out;
  text-align: center;
}

.contact-subtitle {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 3rem;
  animation: fadeInUp 1s ease-in-out;
}

/* Form */
.contact-form {
  max-width: 500px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeInUp 1s ease forwards;
}
.contact-form input,
.contact-form textarea {
  padding: 0.9rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  transition: border 0.3s;
  background: #000;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: #ddd;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #e50914;
  outline: none;
}

/* Socials */
.contact-socials {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
  animation: fadeInUp 1s ease forwards;
}
.contact-socials a {
  color: var(--text);
  transition: transform 0.3s, color 0.3s;
}
.contact-socials a:hover {
  transform: scale(1.2);
  color: #e50914;
}


.submit-btn{
  background: rgb(45, 101, 221);
  padding: 16px 0;
  color: white;
  border: none;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
}

.submit-btn:hover{
  cursor: pointer;
  background: rgb(43, 216, 43);
}

.name-error,
.email-error{
  display: none;
}

.icons-container {
  display: flex;
  justify-content: center;
}
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@media (max-width: 428px) {
  .contact-title {font-size: 1.5rem;}  
  .contact-subtitle{
    font-size: 1rem;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Animations reused */
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}
