@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb{
  width: 2px;
}

.joel-name {
  color: red;
}
